* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 30%;
    height: 100%;
    background-color: rgb(21, 108, 163);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dataBtn{
    gap: 20px;
    padding:20px;
}
.profile{
    background-color: red;
    background-image: url("../../image/m1.jpg");
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.insert{
    height: 30px;
    width: 80%;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showdata{
    height: 30px;
    width: 80%;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 70%;
    height: 100%;
}
